@font-face {
    font-family: "Hack_ttf";
    src: url(Hack-Regular.ttf);
}

body {
    font-family: "Hack_ttf", Arial;
    background-color: #1e1e1e;
    color: #eeeeee;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 720px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.textbox {
    height: 300px;
    border-color: #eeeeee;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
    overflow: scroll;
}

#credit {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
}

#compile_btn {
    background-color: #007acc;
    color: #eeeeee;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}